{% extends "base.html" %}

{% block home %}

<div style="background-color: rgb(224, 162, 162); min-height: 900px;">
    <div style="padding-left: 15%; padding-right: 15%; padding-top: 2%;">
        <h1 style="text-align: center; color: white; text-shadow: 4px 6px 4px black;">Share Your Ideas</h1>

        <form action="/saving" method="post">
            {% csrf_token %}

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" style="font-weight: bold;">Username</label>
                <div class="col-sm-10">
                    <input type="text" name="uname" class="form-control" placeholder="Enter your username">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" style="font-weight: bold;">Full Name</label>
                <div class="col-sm-10">
                    <input type="text" name="fname" class="form-control" placeholder="Enter your full name">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" style="font-weight: bold;">Email address</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" placeholder="Enter your email">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" style="font-weight: bold;">Ideas</label>
                <div class="col-sm-10">
                    <input type="text" name="idea" class="form-control" placeholder="Enter your ideas">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" style="font-weight: bold;">Description of your idea</label>
                <div class="col-sm-10">
                    <textarea name="desp" class="form-control" rows="4" placeholder="Enter idea description..."></textarea>
                </div>
            </div>

            <div style="text-align: center;">
                <button type="submit" class="btn btn-outline-dark">Done</button>
            </div>
        </form>
    </div>
</div>

{% endblock home %}
